https://sanabiltv27-hash.github.io/Soleabysan-
body {
background-color: #e8e1d7; /* Soft Beige/O...;
color: #382418; /* Dark Elegant Brown Text
font-family: 'Times New Roman', serif;
}

    /* Header & Navigation Colors */
    header {
background-color: #e8e1d7;
border-bottom: 1px solid #c5b8a5;
}

nav a {
color: #382418;
}

    /* Buttons */
    button, .btn {
    background-color: #382418; /* Dark Brown B...
    color: #e8e1d7; /* Cream Text */                                 
